{%extends 'base.html'%}
{% block content%}
    <div class="success">
        <span id="success-main-text" class="animate__animated animate__heartBeat animate__delay-1s">{{username}} 님의
            Room!</span>
        <div class="rn">
            <div class="img-background">
                <img src="/static/assets/images/door_name.png" alt="">
            </div>
            <span class="sub-text1">Room Name: </span><span class="main-text1">{{room_name}}</span>
            <div class="img-background">
                <img src="/static/assets/images/keys.png" alt="">
            </div>
            <span class="sub-text2">Room Password: </span><span class="main-text2">{{room_password}}</span>
        </div>
        <div class="rm">
            <div class="img-background">
                <img src="/static/assets/images/open-book.png" alt="" id="mode-img">
            </div>
            <span class="sub-text3">Mode: </span><span class="main-text3">{{mode}}</span>
            <div class="img-background">
                <img src="/static/assets/images/name.png" alt="">
            </div>
            <span class="sub-text4">ID: </span><span class="main-text4">{{maker}}</span>
        </div>
        <div class="success-btn">
            <form method="POST">
                {% csrf_token %}
                <input type="button" id="move-home-btn" value="← 홈으로 이동" onclick="location.href='/main'">
                <button>Room 입장 →</button>
            </form>
        </div>
    </div>
{% endblock%}
